<h1>Listing pins</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>E-mail</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pins.each do |pin| %>
      <tr>
        <td><%= pin.description %></td>
        <%= pin.user.email if pin.user %>
        <td><%= link_to 'Mostrar', pin %></td>
        <% if pin.user == current_user %>
          <%= link_to 'Editar', edit_pin_path(pin) %>
          <%= link_to 'Apagar', pin, method: :delete, data: { confirm: 'Você tem certeza?' } %>
        <% end %>  
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'Novo Pin', new_pin_path %>
<% end %>