<h1>Listing pins</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>E-mail</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <%= render "searchbar" %>

  <h4 class="column">Ordenar</h4>
<div class="row right padm">
  <div class="column">
    <div class="filter-label red">
      <%= sort_link @search, :description, "Descricao" %>
    </div>
  </div> 
</div> 

  <tbody>
    <% @pins.each do |pin| %>
      <tr>
        <td><%= pin.description %></td>
        <td><%= pin.user.email if pin.user %></td>
        <td><%= link_to 'Mostrar', pin %></td>
        <% if pin.user == current_user %>
          <td><%= link_to 'Editar', edit_pin_path(pin) %></td>
          <td><%= link_to 'Apagar', pin, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
        <% end %>  
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<% if user_signed_in? %>
  <%= link_to 'Novo Pin', new_pin_path %>
<% end %>