<!DOCTYPE html>
<html>
<head>
  <title>Caio Pinterest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="//assets.ziggeo.com/css/ziggeobetajs-player.min.css"
/>
<script src="//assets.ziggeo.com/js/ziggeo-jquery-json2-betajsplayer.min.js"></script>
<script>ZiggeoApi.token = "6225c4e8f4e338def0916dcb67fc083f";</script>
</head>
<body>

<%= render 'layouts/header' %>
<%= yield(:search) %>
<div class = "container">
	<% flash.each do |name, msg| %>
		<%= content_tag(:div,msg, class: "alert alert-info" ) %>
	<% end %>	
	<%= yield %>
	
</div>	

</body>
</html>
